<header>
  <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: rgba(0, 0, 0, 0.8); height:45px">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Admin-panel</a>
        <ul style="margin-left: auto;" class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
              <li><a class="dropdown-item text-light" href="/admin/logout">Logout</a></li>           
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>