<div class="d-flex justify-content-center align-items-center container">
    <div class="card py-5 px-3">
        <h5 class="m-0">Mobile phone verification</h5><span class="mobile-text">Enter the code we just send on your mobile phone <b class="text-danger">+91 86684833</b></span>
        <form action="/resetotp" method="post">
        <div class="d-flex flex-row mt-5">
            <input type="text" class="form-control" oninput='digitValidate(this)' onkeyup='tabChange(1)' maxlength=1 name="otp1" autofocus="">
            <input type="text" class="form-control" oninput='digitValidate(this)' onkeyup='tabChange(2)' maxlength=1 name="otp2">
            <input type="text" class="form-control" oninput='digitValidate(this)' onkeyup='tabChange(3)' maxlength=1 name="otp3">
            <input type="text" class="form-control" oninput='digitValidate(this)' onkeyup='tabChange(4)' maxlength=1 name="otp4">
        </div>
        </form>
        <div class="text-center mt-5">
            <span class="d-block mobile-text">Don't receive the code?</span>
            <span class="font-weight-bold text-danger cursor">Resend</span>
        </div>
    </div>
</div>

 <script>
  let digitValidate = function(ele){
    console.log(ele.value);
    ele.value = ele.value.replace(/[^0-9]/g,'');
  }

  let tabChange = function(val){
      let ele = document.querySelectorAll('input');
      if(ele[val-1].value != ''){
        ele[val].focus()
      }else if(ele[val-1].value == ''){
        ele[val-2].focus()
      }   
  }

  </script>