<button type="submit" style="margin: 100px;" onclick ="checkoutForm()">subscription</button>
{{user._id}}
<input type="text" id="user" value="{{user._id}}" hidden>
<script>
console.log('ajax')

        function checkoutForm(){
            let user = $('#user').val();
         $.ajax({
            url:'/premium',
            method:"post",
            data: {'user': user},
            success:(response)=>{
                razorpayPayment(response)
            }
         })
        }
    
function razorpayPayment(order){
    console.log(order)
    var options = {
        "key": "rzp_test_kmq5nVDtZoxuYi", // Enter the Key ID generated from the Dashboard
        "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "DealX",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){
            verifyPayment(response,order)
        },
        "prefill": {
            "name": "Gaurav Kumar",
            "email": "gaurav.kumar@example.com",
            "contact": "9999999999"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
}
    function verifyPayment(payment,order){
         $.ajax({
            url:'/verifyPayment',
            data:{
                payment,
                order,
            },
            method:"post",
            success:(response)=>{
                console.log("success")
                if(response){
                    location.href='/orderSuccess'
                }else{
                    alert("Payment Failed")
                }
            }
        })
        console.log(order)
    }
</script>