<div class="container card shadow mt-5">
    <form action="/report-issue" method="POST">
        <p class="fs-5 text-center mt-3">Add Details</p>
        <textarea class="form-control" name="description" id="description" cols="20" rows="15"></textarea>
        <input type="submit" value="ADD PRODUCT" class="btn btn-success my-3">
    </form>

</div>