<div class="row bg-light mt-5">
  <div class="col-md-4 m-auto px-5 mt-5 pt-5" style="border-style: solid;border-width: 1px; border-radius: 15px;border-color: silver;"
  >
    <h2 class="text-center">Sell Product</h2>
    <form
      action="/sell_product"
      method="post"
      enctype="multipart/form-data"
      id="product"
    >
      <div class="form-group mt-4">
        <input
          type="text"
          class="form-control"
          name="name"
          placeholder="Product Name"
        />
      </div>
      <div class="form-group mt-4">
        <input
          type="text"
          class="form-control"
          name="price"
          placeholder="Price"
        />
      </div>

      <div class="form-group mt-4">
        <select
          class="form-select"
          name="category"
          aria-label="Default select example"
        >
          <option selected>Category</option>
          <option value="mobile">Mobile</option>
          <option value="accessories">Accessories</option>
          <option value="tablets">Tablets</option>
          <option value="car">Car</option>
          <option value="bikes">Bikes</option>
          <option value="electronics & appliances">Electronics & Appliances</option>
          <option value="furiture">Furiture</option>
          <option value="fashion">Fashion</option>
          <option value="pets">Pets</option>
        </select>
      </div>

      <div class="form-group mt-4">
        <input
          type="text"
          class="form-control"
          name="description"
          placeholder="Description"
        />
      </div>

      <div class="mt-2 text-center">
        <button type="submit" class="btn btn-primary my-4">Submit</button>
      </div>
    </form>
  </div>
</div> 


<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
  integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  $(document).ready(function(){
    $("#product").validate({
      errorClass:"validerrors", 
      rules:{
        name:{
          required:true, 
          minlength:4 
        }, 
        price:{
          required:true, 
        }, 
        category:{
          required:true, 
        }, 
        description:{
          required:true, 
        }
      } 
    }) 
  })
</script>